{% extends 'layout.html' %}

{% block my_dope_ass_swag %}
    <table>
        <thead>
        <tr>
            <th>search title</th>
            <th>search terms</th>
        </tr>
        </thead>
        <tbody>
        {% for search in searches %}
            {% include "table_row.html" %}
        {% endfor %}
        <tr id="last-row">
            <td>
                <button type="button"
                        hx-post="/searches"
                        hx-target="#last-row"
                        hx-swap="beforebegin"
                >add new search!
                </button>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}